no-wrap()
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

title-style()
  border-left: 2px solid red
  margin: 10px 5px 15px
  padding: 2px 12px
  font-size: 22px
  color: rgba(0, 0, 0, .7)

booklist-item()
  padding: 5px
  margin-bottom: 15px
  background-color: #fff
