$color-home-theme = #f5f5f5
$color-home-item = #fff

$color-reader-bg-1 = #e9dfc7 // 杏仁黄
$color-reader-bg-2 = #EAEAEF // 极光灰
$color-reader-bg-3 = #FDE6E0 // 胭脂红
$color-reader-bg-4 = #E3EDCD // 青草绿
$color-reader-bg-5 = #DCE2F1 // 海天蓝
$color-reader-bg-6 = #FFF2E2  // 秋叶褐

$color-reader-bg-night = #0f1410
